// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    li.nav-item {
        display: block !important;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

/*.nav-link, .navbar-brand {
    color: #ffffff !important;
}

.navbar-nav > .active{
    color: #000 !important;
    background: #d65c14 !important;
}

.navbar-nav > .active > a,
.navbar-nav > .active > a:hover,
.navbar-nav > .active > a:focus {
    color: #000 !important;
    background: #d65c14 !important;
}*/

#content {
    margin-top: 40px;
}
