/*Extra small devices (portrait phones, less than 576px)
media query since this is the default in Bootstrap*/

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {}

/*Medium devices (tablets, 768px and up)*/
@media screen and (min-width: 768px) {
    .purple-text {
        font-size: 120px !important;
        margin-bottom: -45px !important;
    }

    .white-text {
        font-size: 90px !important;
        letter-spacing: 28px !important;
    }

    #login-page {
        margin-top: 12% !important;
        margin-bottom: 20% !important;
    }

    #add-page {
        margin-top: 10% !important;
        margin-bottom: 12% !important;
    }

    #title {
        padding-top: 10% !important;
    }
}
/*
Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {}

.purple-text {
    color: #7e55ff;
    font-family: 'Permanent Marker', cursive;
    font-size: 60px;
    margin-bottom: -20px;
    text-align: center;
}

.white-text {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    letter-spacing: 10px;
    font-size: 48px;
    text-align: center;
}


.navbar-dark .navbar-nav .nav-link {
    color: #ffffff !important;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}

.navbar-dark .navbar-brand {
    color: #ffffff !important;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}

.btn-outline-light:hover {
    color: black !important;
}

.form {
    color: white;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}

p, #login-page h1, #add-page h1, #signup h1, #scoreboard h1, #scoreboard h2 {
    color: white;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}

@font-face {
    font-family: thirdrail;
    src: url(/static/fonts/thirdrail.ttf);
    src: local(/static/fonts/thirdrail.ttf); /* TTF file for CSS3 browsers */
}

body {
    background-image: url(/static/images/bg-01.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#title {
    height: 100vh;
    width: 100%;
    padding-top: 30%;
}

.btn-primary {
    background-color: #7e55ff !important;
    border-color: #7e55ff !important;
}

.navbar {
  background: none;
}

#content {
    margin-top: 40px;
}

.jumbotron {
    background-color: #212529 !important;
    color: white;
    margin-bottom: 10%;
}

.jumbotron p, .jumbotron h3 {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}

.display-3 {
    color: white;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    font-size: 36px;
}

#signup {
    margin-bottom: 20%;
}
.navbar-dark .navbar-text {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    font-size: 24px;
}

.bootstrap4-multi-input {
    margin: 0;
}
