{% extends 'base.html' %}
{% block title %}Add{% endblock %}
{% load bootstrap4 %}
{% block content %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-sm-12 col-md-6">
            <h1>Add Workout</h1>
            <form method="post" class="post-form">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                <button class="save btn btn-primary" id="signup-btn" type="submit">Save
                {% endbuttons %}
            </form>
        </div>
    </div>
</div>
{% endblock %}
