<!-- workoutwarsapp/templates/index.html -->
{% extends "base.html" %} {% block title %}Index{% endblock %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div id="title" class="align-middle">
                <div class="red-text">Welcome to</div>
                <div class="white-text">WORKOUT WARS</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="jumbotron">

            <h2 class="display-3">What is Workout Wars?</h2>
            <br/>
            <p class="lead">Workout Wars is a workout competition for Mischief to get as fit as possible! While our team can't play frisbee together right now, we can still train and encourage each other to get stronger. The stronger 
                and fitter you are, the less you're likely to be injured, and the more awesome we will be once we can all play together again! It is a competition individually, as well as pod vs. pod. Grab your teammates (at a distance), gear up, and get ready to battle!
            </p>
            <div class="images">
                <div class="images-column">
                    <img src="static/images/team.jpg" alt="" height=500 style="color: white; margin: auto;">
                </div>
                <div class="images-column">
                    <img src="static/images/team1.jpg" alt="" height=245 style="color: white; margin: auto;">
                    <img src="static/images/team2.jpg" alt="" height=245 style="color: white; margin: auto;">
                </div>
            </div>
            <hr class="my-4">

            <h2 class="display-3">What You Do:</h2>
            <br/>
            <p class="lead">1. Workout<br/> 2. Log your workouts & get points<br/> 3. Check the scoreboard to see who is crushing!!
            </p>
            <hr class="my-4">

            <h2 class="display-3">Workouts and Points</h2>
            <br/>
            <p class="lead">Each workout has a different point value based on intensity and/or skills we want to prioritize for the season. Total points for an entry = Workout point level * multiplier (increment varies depending on workout). Only log time based on how
                long you actually did the exercise. For example, if you play basketball for an hour but sub out for half of the points, you should only log 30 minutes.
            </p>

            <table class="table table-light d-none d-md-block">
                <thead>
                    <tr>
                        <th scope="col">Exercise</th>
                        <th scope="col">Increment</th>
                        <th scope="col">Measurement</th>
                        <th scope="col">Multiplier</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row">Walking (brisk pace)</td>
                        <td>15</td>
                        <td>mins</td>
                        <td>0.75</td>
                    </tr>
                    <tr>
                        <td scope="row">Badminton, Basketball, Hiking, Hockey, Soccer, Plyos for Stretching (dynamic warmup), Static Stretching/Foam Rolling, Tennis, Volleyball</td>
                        <td>15</td>
                        <td>mins</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td scope="row">Push-Ups</td>
                        <td>30</td>
                        <td>reps</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td scope="row">Burpees</td>
                        <td>20</td>
                        <td>reps</td>
                        <td>1.25</td>
                    </tr>
                    <tr>
                        <td scope="row">Tabatas (Non-Sprinting)</td>
                        <td>4</td>
                        <td>mins</td>
                        <td>1.25</td>
                    </tr>
                    <tr>
                        <td scope="row">Biking, Elliptical, Physical Therapy, Pilates, Rollerblading/Ice Skating, Surfing, Yoga, Zumba</td>
                        <td>15</td>
                        <td>mins</td>
                        <td>1.5</td>
                    </tr>
                    <tr>
                        <td scope="row">Abs, Hill Sprints</td>
                        <td>10</td>
                        <td>mins</td>
                        <td>1.75</td>
                    </tr>
                    <tr>
                        <td scope="row">Agility Drills (cones/ladders), CrossFit, Disc Golf, Jump Roping, Kayaking/Paddling, Kickboxing, Lifting/Weight Training, P90x or Insanity Workout, Plyometrics (squats, lunges, etc.), Rowing, Running,
                            Stadiums/Stairs, Swimming</td>
                        <td>15</td>
                        <td>mins</td>
                        <td>1.75</td>
                    </tr>
                    <tr>
                        <td scope="row">Sprints, Track Workout</td>
                        <td>15</td>
                        <td>mins</td>
                        <td>1.85</td>
                    </tr>
                    <tr>
                        <td scope="row">Sprinting/Spinning Tabatas</td>
                        <td>4</td>
                        <td>mins</td>
                        <td>1.85</td>
                    </tr>
                    <tr>
                        <td scope="row">Throwing</td>
                        <td>15</td>
                        <td>mins</td>
                        <td>2</td>
                    </tr>
                </tbody>
            </table>
            <hr class="my-4">

            <h2 class="display-3">Resources</h2>
            <br/>
            <p class="lead"> <a href="https://docs.google.com/document/d/1LPiZMCgUvXq1cwpeyaF4gDI0dj6l8vI6qcMlLNLtXgY/edit?usp=sharing">Here's</a> a doc the Pie Queens use with a bunch of lifting/track/agility workouts.
                Workouts have come from teammates, club teams, and recommendations!
            </p>

            <h3>Can't wait to see ya'll CRUSHING it and all the selfies that come with it :)</h3>
        </div>
    </div>
    {% endblock %}
