{% extends "base.html" %}
{% block title %}Individual{% endblock %}
{% block extra_head %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('date', 'Date');
        data.addColumn('number', 'Score');
        {% for date, score in chart_data %}
          data.addRow([new Date({{ date.year }}, {{ date.month }} - 1, {{ date.day }}), {{ score }}])
        {% endfor %}

        // Set chart options
        var options = {
          backgroundColor: 'ffffff',
          colors: ['#FF0000'],
          legend: {position: "none" },
          hAxis: { textStyle:{color: '212529'}, gridlineColor: 'transparent', format: 'MMM dd' },
          vAxis: { textStyle:{color: '212529'}, gridlineColor: '212529', baselineColor: '212529' },
          pointSize: 5
          };

        // Instantiate and draw our chart, passing in some options.
        var formatter = new google.visualization.DateFormat({pattern: 'MMM dd'});
        formatter.format(data, 0);
        var chart = new google.visualization.LineChart(document.getElementById('line_chart'));
        chart.draw(data, options);
      }
    </script>
{% endblock %}

{% block content %}
    <div id="scoreboard" class="row justify-content-md-center">
        <div class="jumbotron">
            <div class="container">
                <h1>{{ user.profile.nick_name }}</h1>
                <h3>{{ user.profile.team }}, {{ user.profile.class_name }}</h3>
                <hr class="my-4">
                <p> These are your own workout statistics and logs.
                  Want to see how your team is doing? Check out the
                  <a href="{% url 'scoreboard' %}">scoreboard</a>!
                </p>

                {% if workouts %}
                    <h3>Individual Statistics</h3>
                    <div class="table-responsive">
                    <table class="table table-light" style="max-width:375px;">
                      <tbody>
                        <tr>
                          <th>Total Workouts</th>
                          <td>{{ num_workouts }}</td>
                        </tr>
                        <tr>
                          <th>Total Points</th>
                          <td>{{ total_points }}</td>
                        </tr>
                        <tr>
                          <th>Avg Points per Day</th>
                          <td>{{ avg_per_day }}</td>
                        </tr>
                      </tbody>
                    </table>

                    <div id="line_chart"></div>

                    <h3>Recent Workouts Completed</h3>
                    <p>For a list of what all pie queens have done, check out the <a href="{% url 'feed' %}">newsfeed</a>!</p>
                    <table
                      id="workout-table"
                      class="table table-light">
                      <thead>
                        <tr>
                          <th>Date</th>
                          <th>Exercise</th>
                          <th colspan="2">Duration</th>
                          <th>Score</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for workout in workouts %}
                          <tr>
                            <td>{{ workout.workout_date }}</td>
                            <td>{{ workout.exercise.name }}</td>
                            <td>{{ workout.duration|floatformat:0 }}</td>
                            <td>{{ workout.exercise.measurement }}</td>
                            <td>{{ workout.score|floatformat:2 }}</td>
                          </tr>
                        {% endfor %}
                      </tbody>


                    </table>
                </div>
                    {% if workouts.has_other_pages %}
              <ul class="pagination pagination-dark justify-content-md-center">
                {% if workouts.has_previous %}
                  <li class="page-item"><a class="page-link" href="?page={{ workouts.previous_page_number }}">Previous</a></li>
                {% else %}
                  <li class="disabled page-item"><span class="page-link">Previous</span></li>
                {% endif %}
                {% for i in workouts.paginator.page_range %}
                  {% if workouts.number == i %}
                    <li class="active page-item"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                  {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                  {% endif %}
                {% endfor %}
                {% if workouts.has_next %}
                  <li class="page-item"><a class="page-link"  href="?page={{ workouts.next_page_number }}">Next</a></li>
                {% else %}
                  <li class="disabled page-item"><span class="page-link">Next</span></li>
                {% endif %}
              </ul>
            {% endif %}
                {% endif %}
                <p> See a problem? For now, please let Bobe or Phoebe know,
                  and one of them will fix it for you.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
