<!-- workoutwarsapp/templates/rankings.html -->
{% extends "base.html" %} {% block title %}Index{% endblock %} {% block content %}
<div id="feed" class="row justify-content-md-center">
    <div class="jumbotron">
        <div class="container">
            <div class="col">
                {% if rankings %}
                    <h1>Rankings</h1>
                    <hr class="my-4">
                    <p>For the competitive folks. To see how your team and class are doing, check the <a href="{% url 'scoreboard' %}">scoreboard</a>!</p>
                    <div class="table-responsive">
                    <table
                      id="workout-table"
                      class="table table-dark">
                      <thead>
                        <tr>
                          <th scope="col">Rank</th>
                          <th scope="col">Name</th>
                          <!-- <th scope="col">Team</th> -->
                          <th scope="col">Pod</th>
                          <th scope="col">Score</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for place, profile, total_score in rankings %}
                          <tr>
                            <td>{{ place }}</td>
                            <td>{{ profile.nick_name }}</td>
                            <!-- <td>{{ profile.team }}</td> -->
                            <td>{{ profile.class_name }}</td>
                            <td>{{ total_score }}</td>
                          </tr>
                        {% endfor %}
                      </tbody>


                    </table>
                </div>
                    {% if rankings.has_other_pages %}
              <ul class="pagination pagination-dark justify-content-md-center">
                {% if rankings.has_previous %}
                  <li class="page-item"><a class="page-link" href="?page={{ rankings.previous_page_number }}">Previous</a></li>
                {% else %}
                  <li class="disabled page-item"><span class="page-link">Previous</span></li>
                {% endif %}
                {% for i in rankings.paginator.page_range %}
                  {% if rankings.number == i %}
                    <li class="active page-item"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                  {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                  {% endif %}
                {% endfor %}
                {% if rankings.has_next %}
                  <li class="page-item"><a class="page-link"  href="?page={{ rankings.next_page_number }}">Next</a></li>
                {% else %}
                  <li class="disabled page-item"><span class="page-link">Next</span></li>
                {% endif %}
              </ul>
            {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
