{% extends "base.html" %}

{% block extra_head %}
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript"> //Chart for teams
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChartTeams);

    function drawChartTeams() {
      // Create the data table.
      var team_data = new google.visualization.DataTable();
      team_data.addColumn('string', 'Team');
      team_data.addColumn('number', 'Score');
      team_data.addRows({{team_chart_data|safe}});

      // Set chart options
      var team_options = {
        backgroundColor: '212529',
        colors: ['#7e55ff'],
        legend: {position: "none" },
        hAxis: { textStyle:{color: 'C0C0C0'} },
        vAxis: { textStyle:{color: 'C0C0C0'}, gridlineColor: '808080', baselineColor: 'C0C0C0' },
        };

      // Instantiate and draw our chart, passing in some options.
      var team_chart = new google.visualization.ColumnChart(document.getElementById('team_chart_div'));
      team_chart.draw(team_data, team_options);
    }
  </script>
  <script type="text/javascript"> // Chart for classes
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
      // Create the data table.
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Class');
      data.addColumn('number', 'Score');
      data.addRows({{class_chart_data|safe}});

      // Set chart options
      var options = {
        backgroundColor: '212529',
        colors: ['#7e55ff'],
        legend: {position: "none" },
        hAxis: { textStyle:{color: 'C0C0C0'} },
        vAxis: { textStyle:{color: 'C0C0C0'}, gridlineColor: '808080', baselineColor: 'C0C0C0' },
        };

      // Instantiate and draw our chart, passing in some options.
      var chart = new google.visualization.ColumnChart(document.getElementById('class_chart_div'));
      chart.draw(data, options);
    }
  </script>
{% endblock %}

{% block content %}
    <div id="scoreboard" class="row justify-content-md-center">
        <div class="jumbotron">
            <div class="container">
              <h1>Scoreboards</h1>
              <hr class="my-4">

              <p>See how your team and class are doing! Click <a href="{% url 'rankings' %}">here</a> to see individual rankings.</p>

              {% if team_scores %}
                <h3>Points Earned by Team</h3>

                <p>Score by team per person</p>
                <div id="team_chart_div"></div>
              <div class="table-responsive">

                <table
                  class="table table-dark"
                  >
                  <thead>
                    <tr>
                      <th></th>
                      {% for team_name, team_score, team_normalized, per_day in team_scores %}
                        <th>{{ team_name }}</th>
                      {% endfor %}
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th>Total</th>
                      {% for team_name, team_score, team_normalized, per_day in team_scores %}
                        <th>{{ team_score }}</th>
                      {% endfor %}
                    </tr>
                    <tr>
                      <th>Normalized</th>
                      {% for team_name, team_score, team_normalized, per_day in team_scores %}
                        <th>{{ team_normalized }}</th>
                      {% endfor %}
                    </tr>
                    <tr>
                      <th>Per Day</th>
                      {% for team_name, team_score, team_normalized, per_day in team_scores %}
                        <th>{{ per_day }}</th>
                      {% endfor %}
                    </tr>
                  </tbody>
                </table>
            </div>
              {% endif %}

              {% if class_scores %}
                <h3>Points Earned by Pod</h3>
                <p>Score by pod per person</p>
                <div id="class_chart_div"></div>
                <table
                  class="table table-dark"
                  >
                  <thead>
                    <tr>
                      <th></th>
                      {% for class_name, class_score, class_normalized, per_day in class_scores %}
                        <th>{{ class_name }}</th>
                      {% endfor %}
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th>Total</th>
                      {% for class_name, class_score, class_normalized, per_day in class_scores %}
                        <th>{{ class_score }}</th>
                      {% endfor %}
                    </tr>
                    <tr>
                      <th>Normalized</th>
                      {% for class_name, class_score, class_normalized, per_day in class_scores %}
                        <th>{{ class_normalized }}</th>
                      {% endfor %}
                    </tr>
                    <tr>
                      <th>Per Day</th>
                      {% for class_name, class_score, class_normalized, per_day in class_scores %}
                        <th>{{ per_day }}</th>
                      {% endfor %}
                    </tr>
                  </tbody>
                </table>
              {% endif %}

              <h4>Feeling inspired?</h4>
              <p>Go work out, and then <a href="{% url 'add' %}">submit your workout</a>!</p>

              <h4>See your progress</h4>
              <p>Check out your <a href="{% url 'indiv' username=request.user.get_username %}">individual page</a> to see what you've accomplished.</p>

              <h4>See recent workouts</h4>
              <p>Look at <a href="{% url 'feed' %}">all the hard work</a> your teammates have put in!</p>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
