{% extends "base.html" %}

{% block extra_head %}
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

      // Create the data table.
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Class');
      data.addColumn('number', 'Score');
      data.addRows({{class_chart_data|safe}});

      // Set chart options
      var options = {
        width: "80%",
        colors: ['purple'],
        bar: {groupWidth: "95%"},
        legend: {position: "none" },
        };

      // Instantiate and draw our chart, passing in some options.
      var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
      chart.draw(data, options);
    }
  </script>
{% endblock %}
{% block content %}
<div class="container">
    <div id="scoreboard" class="row justify-content-md-center">
        <div class="col-sm-12">
            <h1>Scoreboards</h1>

  {% if team_scores %}
    <h2>Points Earned by Team</h2>
    <table
      class="table"
      style="max-width:700px; table-layout : fixed;"
      >
      <thead style="font-size:larger">
        <tr>
          <th>Team</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
        {% for team_name, team_score, team_normalized in team_scores %}
          <tr>
          <th>{{ team_name }}</th>
          <th>{{ team_score }}</th>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}

  {% if class_scores %}
    <h2>Points Earned by Year</h2>
    <p>Score by class per person</p>
    <div id="chart_div" style="max-width:700px;"></div>
    <table
      class="table"
      style="max-width:700px; table-layout : fixed;"
      >
      <thead style="font-size:larger">
        <tr>
          <th></th>
          {% for class_name, class_score, class_normalized in class_scores %}
            <th>{{ class_name }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Total</th>
        {% for class_name, class_score, class_normalized in class_scores %}
          <th>{{ class_score }}</th>
        {% endfor %}
        </tr>
          <tr>
            <th>Normalized</th>
          {% for class_name, class_score, class_normalized in class_scores %}
            <th>{{ class_normalized }}</th>
          {% endfor %}
          </tr>
      </tbody>
    </table>
  {% endif %}
  <p>Feeling inspired? Go work out, and then <a href="{% url 'add' %}">submit your workout! </a></p>
</div>
<!-- <div class="col-md-3 col-sm-0">
    <table class="table table-dark d-none d-md-block">
        <thead>
            <tr>
                <th scope="col">Can't Stop</th>
                <th scope="col">Never Die</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row">2Bunz</td>
                <td>Aika</td>
            </tr>
            <tr>
                <td scope="row">Amy</td>
                <td>Anne L</td>
            </tr>
            <tr>
                <td scope="row">Anne B</td>
                <td>Bianca</td>
            </tr>
            <tr>
                <td scope="row">Ash</td>
                <td>Buttah</td>
            </tr>
            <tr>
                <td scope="row">Bruiser</td>
                <td>Cakes</td>
            </tr>
            <tr>
                <td scope="row">Chewy</td>
                <td>Cecilia</td>
            </tr>
            <tr>
                <td scope="row">Chip</td>
                <td>Cidney</td>
            </tr>
            <tr>
                <td scope="row">Claire Q</td>
                <td>Dobby</td>
            </tr>
            <tr>
                <td scope="row">Claire T</td>
                <td>Elaine</td>
            </tr>
            <tr>
                <td scope="row">Fabi</td>
                <td>Flip</td>
            </tr>
            <tr>
                <td scope="row">Frenzy</td>
                <td>Hannah</td>
            </tr>
            <tr>
                <td scope="row">Gabby</td>
                <td>Haze</td>
            </tr>
            <tr>
                <td scope="row">Janelle</td>
                <td>Janice</td>
            </tr>
            <tr>
                <td scope="row">Kai</td>
                <td>Jenna</td>
            </tr>
            <tr>
                <td scope="row">Katherine</td>
                <td>Jennifer</td>
            </tr>
            <tr>
                <td scope="row">Katy</td>
                <td>Kate</td>
            </tr>
            <tr>
                <td scope="row">Kiddo</td>
                <td>Kobe</td>
            </tr>
            <tr>
                <td scope="row">Pika</td>
                <td>Pepper</td>
            </tr>
            <tr>
                <td scope="row">Sandy</td>
                <td>Poppins</td>
            </tr>
            <tr>
                <td scope="row">Sarah</td>
                <td>Sky</td>
            </tr>

            <tr>
                <td scope="row">Squid</td>
                <td>Solo</td>
            </tr>
            <tr>
                <td scope="row">Taki</td>
                <td>Spoon</td>
            </tr>
            <tr>
                <td scope="row">Tiffany</td>
                <td>Sunny</td>
            </tr>
            <tr>
                <td scope="row">Tyrone</td>
                <td>Sylvia</td>
            </tr>
            <tr>
                <td scope="row">Winnie</td>
                <td>Volt</td>
            </tr>
            <tr>
                <td scope="row">Zyrtec</td>
                <td></td>
            </tr>
        </tbody>
    </table> -->
</div>
</div>
</div>
{% endblock %}
