{% extends "base.html" %}
{% block title %}SignUp{% endblock %}
{% load bootstrap4 %}
{% block content %}
<div class="container">
    <div id="signup" class="row justify-content-md-center">
        <div class="col-sm-12 col-md-8">
            <h1>Sign up</h1>
            <form class="form" method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                <button class="btn btn-primary btn-lg btn-block" id="signup-btn" type="submit">Sign Up
                {% endbuttons %}
            </form>
        </div>
    </div>
</div>
{% endblock %}
